header {
    position: relative;
    width: 100%;
    height: 50px;
    background: #5D4037;
}

.fixed_wrapper {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #5D4037;
    opacity: 0.9;
    z-index: 999;
}

.menu_wrapper {
    max-width: 960px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu {
    display: inline-block;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 12px;
    font-size: 1.7rem;
}

.menu>li {
    float: left;
    position: relative;
    margin: 0 10px;
}

.menu a, .menu span {
    display: block;
    color: #fff;
}

.menu_toggle>span {
    cursor: pointer;
}

.menu a:hover, .menu_toggle>span:hover {
    color: #8BC34A;
}

.submenu {
    display: none;
    position: absolute;
    width: 110px;
    top: 25px;
    left: -10px;
}
.submenu > li {
    display: block;
}
.submenu > li > a {
    display: block;
    padding: 7px;
    color: #fff;
    background-color: #5D4037;
    font-size: 1.2rem;
}

main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.content_wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content_wrapper>div {
    background: #fff;
    border-radius: 2px;
    margin: 15px 0 0;
    min-width: 250px;
    width: 33.3333%;
}

.user_name {
    background: #5D4037;
    color: #fff;
}

.user_photo {
    max-height: 200px;
    width: 100px;
    float: left;
    margin-right: 3%;
}

.user_photo>img {
    height: 100%;
    width: 100%;
}

.user_info {
    font-size: 16px;
}

.spec {
    background: #795548;
    color: #fff;
}

.user_skills {
    margin: 2% 5% 2% 1%;
}

.skills_title {
    font-size: 1.2rem;
    color: #8BC34A;
    font-weight: 700;
}

.user_skills span {
    color: #795548;
    font-weight: 700;
}

/*Pagination*/
#pagingControls {
	margin:15px 0 ;
    text-align: center;
    background: #795548;
    border-radius: 2px;
    color: #fff;
    font-size: 1.2rem

}
#pagingControls ul {
	display:inline;
}
#pagingControls li {
	display:inline;
	padding:0 0.5em;
    color: #8BC34A;
}

#pagingControls li>a {
    color: #fff;
}

.register {
    width: 100%;
    max-width: 960px;
    margin: 15px auto;
    background: #795548;
    border-radius: 2px;
    text-align: center;
}

.register .title {
    color: #fff;
    font-size: 1.8rem;
    padding: 3% 10%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form input, form select {
    margin: 10px auto;
    height: 30px;
    width: 200px;
}

#experience {
    width: 100px;
}

.tech p {
    font-size: 1.4rem;
    color: #BDBDBD;
    margin: 10px 0;
}

.level_text {
    color: #fff;
}

#level {
    width: 30px;
}

.add_input {
    padding: 0;
    background: url('../images/spec/plus_btn.png') no-repeat 0 0;
    width: 45px;
    height: 45px;
    background-size: 45px;
    cursor: pointer;
    border-radius: 22px;
}

.addbtn_text {
    color: #BDBDBD;
}

.add_user {
    height: 35px;
    width: 200px;
    background: #8BC34A;
    color: #5D4037;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 600; 
    cursor: pointer;
    opacity: 0.8;
    margin: 3% 0;
}

.add_user:hover {
    opacity: 1;
}

footer {
    width: 100%;
    background: #212121;
    margin: 15px 0 0;
}

.copyright {
    text-align: right;
    color: #757575;
    padding: 0 30px;
}